body {
    background-color: #fff336;
}

header {
    background: #6981ff;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.main {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    margin: 30px auto;
    width: 600px;
}

.button_area {
    text-align: center;
}

.choose_button {
    position: relative;
    color: #fff;
    background: #ff386f;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    margin: 0 auto 30px;
    transition: all ease 0.3s;
}

.choose_button::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #6981ff;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(0, 0);
    transition: transform ease 0.4s;
    z-index: 2;
}

.choose_button:hover::after {
    transform: translate(-50%, -50%) scale(1.0, 1.0);
}

.choose_button span {
    position: relative;
    z-index: 10;
}

.result {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.result_title {
    font-size: 15px;
    margin-bottom: 10px;
}

.result_text {
    font-size: 30px;
    font-weight: bold;
}

.tweet {
    text-align: center;
    margin: 30px auto 0;
}

.tweet_button {
    display: block;
    width: 200px;
    background: #6981ff;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.tweet_button::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #fff336;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(0, 0);
    transition: transform ease 0.4s;
    z-index: 2;
}

.tweet_button span {
    position: relative;
    z-index: 10;
}

.tweet_button:hover {
    color: #ff386f;
}

.tweet_button:hover::after {
    transform: translate(-50%, -50%) scale(1.0, 1.0);
}

footer {
    background: #6981ff;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
}