.result_subText {
    font-size: 14px;
}

.result_textWrap {
    display: flex;
    justify-content: center;
}

.result_textWrap .result_text {
    font-size: 20px;
}

.result_text:not(:first-child)::before {
    content: "/";
}

@media screen and (max-width: 440px) {
    .result_textWrap {
        display: block;
    }
    .result_text:not(:first-child) {
        color: #ccc;
    }
    .result_subText {
        color: #ccc;
    }
    .result_text:not(:first-child)::before {
        content: none;
    }
}